paper-button{margin: 20px;
			 
			  
			  
		  }
		 
		  #button-4{
			  
			  background-color: #f50000;
			  font-family: sans-serif;
			  padding: 
			 
			  
			  
		  }
		  
		  #button-1{
			   background-color: ##FFC107;
			   font-family: monospace;
			   top: 20px;
			  bottom: 10px;
				   
			  
		  }


#button-3{
	background-color: #FF6F00;
	font-family: monospace;
	top: 60px;
	border-bottom:
	
	
	
	
}
#button-1{
	
	background-color: #fadd00;
	top: 20px:
	
	
}

#button-2{
	background-color: #00C853;
	font-family: monospace;
	top:30px;
	bottom: 20px;
		
	
	
}


	
	
	


	
		
#paper-header{
	
	font-family: monospace;
	font-size: 100%;
	
	
		
}
#tool{
	font-family: monospace;
	font-size: 150%;
	margin-left: 0px;
	color: aquamarine;

	
	
	
}

#paper-drawer{
	font-family: monospace;
	font-size: 150%;
	background-color: white
	
  
	
}

#too2{
font-family: monospace;
	color: aqua

	
}
a{
	font-family: monospace;
	
	
	
}


paper-button{
	background-color: aqua;
	font-family: monospace;
	left: 
	
	
	
	
}


#fab-menu{
	
	background: #604a4a;
position: fixed;
bottom: 20px;
right: 30px
	
	
}

#t-button{
	
	
	
}

